.chart{
    display: flex;
    gap: 100px;
    margin: 0 90px ; 
}
h1{
    text-align: center;
    color: #4f86f7;
}
@media only screen and (max-width: 600px) {
    .chart{
        display: inline;
    }
}