nav a{
    text-decoration:none;
    color: black;
    margin: 25px;
}
nav a:hover{
   color: tomato;

}
nav {
    padding: 25px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    nav a{
        margin: 5px;
    }
}