nav a{
    text-decoration:none;
    color: black;
    margin: 25px;
}
nav a:hover{
    background-color: coral;
    padding: 5px;
    border-radius: 5px;

}
nav {
    background-color:thistle;
    padding: 25px;
    text-align: center;
}